div{
    right: 30px;
    border: 2px solid black;
}
.fixed{
    position:fixed;
    top: 1px;
    left: 20px;
    width: 200px;
    border: 2px solid blue;
}
.sticky{
    position: sticky;
    top: 10px;
    left: 500px;
    width: 200px;
    border: 2px solid green;
   
}
.fixed1{
    position: fixed;
    bottom: 10px;
}
.relative{
    position: relative;
    left: 100px;
}
.absolute{
    position: absolute;
    left: 100px;
    border: 2px solid violet;
}
.static{
    position: static;
}
